<button type="button" {{action (action this.attrs.changePage) 'next'}} disabled={{gte page pageTotal}}>
  Next page !
</button>
<button type="button" {{action (action this.attrs.changePage) 'prev'}} disabled={{lte page 1}}>
  Prev page !
</button>
{{one-way-input searchTerms update=(action 'updateSearchTerm')}}
<br>
<label>
  {{one-way-checkbox caseSensitive update=(action 'updateCaseSensitive')}}
  case sensitive
</label>
<label>
  {{one-way-checkbox phraseSearch update=(action 'updatePhraseSearch')}}
  match phrase
</label>
<label>
  {{one-way-checkbox highlightAll update=(action 'updateHighlightAll')}}
  highlightAll
</label>
<label>page {{page}} of {{pageTotal}}</label>
